@using Microsoft.AspNetCore.Identity
@using TicketParcial.Areas.Identity.Data

@inject SignInManager<TicketParcialUser> SignInManager
@inject UserManager<TicketParcialUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="bi bi-person mr-1"></i>
                ¡Bienvenido @UserManager.GetUserName(User)!
            </a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn bg-transparent dropdown-toggle" type="button" id="dropdown-ticket-turno" data-toggle="dropdown" aria-expanded="false">
                    Catálogos
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-ticket-turno">
                    <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Municipio" asp-action="Index">
                        <i class="bi bi-house ml-2 mr-1"></i>
                        Municipios
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="NivelModels" asp-action="Index">
                        <i class="bi bi-card-heading ml-2 mr-1"></i>
                        Niveles
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Asunto" asp-action="Index">
                        <i class="bi bi-envelope ml-2 mr-1"></i>
                        Asuntos
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Create", "TicketTurno", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                    <i class="bi bi-box-arrow-right mr-1"></i>
                    Cerrar sesión
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </li>
    }
</ul>
