@using Microsoft.AspNetCore.Identity
@using TicketParcial.Areas.Identity.Data

@inject SignInManager<TicketParcialUser> SignInManager
@inject UserManager<TicketParcialUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item d-flex justify-content-end justify-content-sm-start">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="bi bi-person mr-1"></i>
                ¡Bienvenido @UserManager.GetUserName(User)!
            </a>
        </li>
        <li class="nav-item d-flex justify-content-end justify-content-sm-start">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Create", "TicketTurno", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                    <i class="bi bi-box-arrow-right mr-1"></i>
                    Cerrar sesión
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item d-flex justify-content-end justify-content-sm-start">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
        </li>
        <li class="nav-item d-flex justify-content-end justify-content-sm-start">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </li>
    }
</ul>
