@model TicketParcial.Models.TicketTurnoModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TicketTurnoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="nombreRealiza" class="control-label"></label>
                <input asp-for="nombreRealiza" class="form-control" />
                <span asp-validation-for="nombreRealiza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="curp" class="control-label"></label>
                <input asp-for="curp" class="form-control" />
                <span asp-validation-for="curp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paterno" class="control-label"></label>
                <input asp-for="paterno" class="form-control" />
                <span asp-validation-for="paterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="materno" class="control-label"></label>
                <input asp-for="materno" class="form-control" />
                <span asp-validation-for="materno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="celular" class="control-label"></label>
                <input asp-for="celular" class="form-control" />
                <span asp-validation-for="celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="municipio" class="control-label">Municipio</label>
                <select asp-for="municipio" class="form-control" asp-items="ViewBag.municipioID"></select>
            </div>
            <div class="form-group">
                <label asp-for="asunto" class="control-label">Asunto:</label>
                <select asp-for="asunto" class="form-control" asp-items="ViewBag.asuntoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="nivel" class="control-label">Nivel:</label>
                <select asp-for="nivel" class="form-control" asp-items="ViewBag.nivelID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
