@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar usuario";
    Layout = "~/Areas/Identity/Pages/_SignupLayout.cshtml";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="signup-form" onsubmit="return validateSignup(event);">
    <div class="form-group">
        <label asp-for="Input.Nombre"></label>
        <input asp-for="Input.Nombre" class="form-control" id="nombre"/>
        <span asp-validation-for="Input.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Apellido"></label>
        <input asp-for="Input.Apellido" class="form-control" id="apellido"/>
        <span asp-validation-for="Input.Apellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" id="email"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" id="password"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" id="repeat-password"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="g-recaptcha mt-3 mb-4" data-sitekey="6Lf1fkYfAAAAAD-2SqUEoM63rs72HHkqjYWHawwx"></div>
        <button type="submit" class="btn btn-primary">Registrar usuario</button>
    </div>
    <div asp-validation-summary="All" class="text-danger mt-4"></div>
</form>


@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <partial name="_ValidationScriptsPartial" />
}
